header {
	text-align: center;
	color: $white;
}

.header__links {
	text-align: right;
	padding: 0.5rem 1rem;
	background-color: $primary;

	> *:first-child {
		margin-right: 1rem;
	}

	@media screen and (min-width: $sm) {
		padding: 0.5rem 2rem;
	}

	a {
		color: lighten($highlight, 10%);

		&:hover,
		&:focus {
			color: $white;
		}
	}
}

.header__title {
	color: $primary;

	span {
		color: $highlight;
	}
}

.header__content {
	max-width: $wrapper;
	margin: 0 auto;
	padding: 0 2rem;
}
