.list-title {
	text-align: center;

	@media (min-width: $sm) {
		padding: 2rem 0;
	}
}

.list-title__label {
	display: block;
	text-align: left;
}

.list-title__input {
	width: 100%;
	padding: 1rem;
	border: 0.2rem solid lighten($bg, 50%);
	border-radius: 0.8rem;
	font-size: 1.4rem;
	margin-bottom: 2rem;

	&:focus {
		border-color: $title;
	}

	@media (min-width: $sm) {
		font-size: 2rem;
		color: $text;
		margin-bottom: 3rem;
	}
}

.list-title__heading {
	@media (min-width: $sm) {
		margin-bottom: 3rem;
	}
}
