.list-item {
	display: flex;
	align-items: baseline;
	padding: 0.75rem 0;
	border-bottom: 0.1rem solid;
}

.list-item__title {
	margin: 0 1rem 0 0;
	flex: 1 0 auto;
	padding-right: 1rem;
}

.list-item__value {
	text-align: right;
}

.list-item__button {
	margin-left: 1rem;
	background-color: tomato;
	color: $white;
	font-size: 1.2rem;
	padding: 0.5rem 1rem;

	&:hover,
	&:focus {
		background-color: darken(tomato, 20%);
		color: $white;
	}
}

/* Transitions */
.list-item-transition-enter {
	opacity: 0.01;
	transform: translate3d(0, 0.65rem, 0);
}

.list-item-transition-enter-active {
	opacity: 1;
	transform: translate3d(0, 0, 0);
	transition: opacity 300ms, transform 300ms;
}

.list-item-transition-exit {
	opacity: 1;
}

.list-item-transition-exit-active {
	opacity: 0.01;
	transition: opacity 300ms;
}
