.list {
	padding: 1rem;
	background-color: $bg;
	border-radius: 0.09rem;
	margin-bottom: 1rem;

	@media (min-width: $sm) {
		margin-bottom: 3rem;
	}
}

.list__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list__wrapper {
	@media (min-width: $lg) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 2rem;
	}
}

.list__heading {
	display: flex;
	align-items: baseline;
	border-bottom: 0.2rem solid $primary;
	margin: 0;
	padding: 0 0 0.5rem;

	@media (min-width: $lg) {
		span:first-child {
			font-size: 2rem;
		}
	}
}

.list__total {
	margin-left: auto;
}
