.list-title {
	text-align: center;

	@media (min-width: $sm) {
		padding: 2rem 0;
	}
}

.list-title__label {
	display: block;
	text-align: left;
}

.list-title__input {
	display: block;
	width: 100%;
	padding: 1rem;
	background-color: darken($bg, 3%);
	border: none;
	border-bottom: 0.2rem solid lighten($bg, 50%);
	font-size: 1.4rem;
	margin-bottom: 2rem;

	@media (min-width: $sm) {
		font-size: 2rem;
		color: $text;
		margin-bottom: 3rem;
	}
}
