.list-item {
	display: flex;
	align-items: center;
	padding: 0.75rem 0;
	border-bottom: 0.1rem solid;
}

.list-item__title {
	margin: 0 1rem 0 0;
	flex: 1 0 auto;
}

.list-item__value {
	margin: 0 1rem 0 0;
	text-align: right;
}

.list-item__button {
	margin-left: auto;
	background-color: tomato;
	font-size: 1.2rem;
	padding: 0.5rem 1rem;
}
