.app {
	text-align: center;
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

button {
	background-color: turquoise;
	border: none;
	border-radius: 0.4em;
	padding: 0.5rem 1rem;
	font-size: 1.2rem;
	cursor: pointer;
}

.navigation {
	padding: 1rem;
}

.list-item {
	display: flex;
}

.list-item__button {
	margin-left: auto;
	background-color: tomato;
}
