* {
	box-sizing: border-box;
}

body {
	background-color: $bg;
	color: $text;
	min-height: 100vh;
}

button {
	background-color: $highlight;
	color: $primary;
	border: none;
	border-radius: 0.4em;
	padding: 0.5rem 1rem;
	font-size: 1.2rem;
	cursor: pointer;
	transition: background-color 200ms, color 200ms;

	&:hover,
	&:focus {
		background-color: $primary;
		color: $highlight;
	}

	@media screen and (min-width: $lg) {
		font-size: 1.3rem;
		padding: 0.75rem 2rem;
	}
}

.button--main {
	@media screen and (min-width: $lg) {
		font-size: 1.4rem;
		padding: 0.9rem 3rem;
		min-width: 15rem;
	}
}

a {
	color: $primary;
	transition: color 200ms;

	&:hover,
	&:focus {
		color: lighten($primary, 20%);
	}
}

input[type='text'],
input[type='number'] {
	display: block;
	width: 100%;
	padding: 0.5rem 1rem;
	border: none;
	background-color: darken($bg, 3%);
	border: 0.2rem solid $primary;
	color: $text;
	border-radius: 0.5rem;
	font-weight: 700;

	&:focus {
		border-color: lighten($primary, 20%);
	}

	@media screen and (min-width: $lg) {
		font-size: 1.4rem;
		padding: 1rem 1rem;
	}
}

label,
legend {
	display: block;
	margin-bottom: 0.5rem;
	color: $primary;
}
