* {
	box-sizing: border-box;
}

body {
	background-color: $bg;
	color: $text;
	min-height: 100vh;
	font-size: 1.2rem;
}

button {
	background-color: $highlight;
	border: none;
	border-radius: 0.4em;
	padding: 0.5rem 1rem;
	font-size: 1.2rem;
	cursor: pointer;
}

main {
	max-width: $wrapper;
	padding: 0 2rem;
	margin: 0 auto;
}

a {
	color: $highlight;
}

label {
	margin-bottom: 0.5rem;
	color: lighten($bg, 60%);
}
