@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700|PT+Sans&display=swap');

body,
button {
	font-family: 'PT Sans', serif;
}

body {
	font-size: 1.2rem;

	@media (min-width: $lg) {
		font-size: 1.3rem;
	}
}

h1 {
	font-family: 'Dancing Script', cursive;

	@media (min-width: $sm) {
		font-size: 3.5rem;
	}
}

button,
label {
	font-weight: 700;
}

p {
	line-height: 1.5;
}
